<p id="notice"><%= notice %></p>

<%= raw(RedClothCustom.new(@state.body)) %>

<br/>
<p class="meta"><span class="date"><%= @state.page %></span><span class="posted">Last edited by <a href="#"><%= @state.user %></a> at November 7, 2011</span></p>	
<br/>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
