<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @state.user %>
</p>

<p>
  <b>Page:</b>
  <%= @state.page %>
</p>

<p>
  <b>Body:</b>
  <%= RedCloth.new(@state.body).to_html %>
</p>


<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
