<p id="notice"><%= notice %></p>

<%= raw(RedClothCustom.new(@state.body)) %>

<br/>
<p class="meta"><span class="date"><%= @page.name %></span><span class="posted">Last edited by <a href="#"><%= @state.name %></a> at <%= @state.updated_at %></span></p>	
<br/>


<%= button_to 'Back', {:controller => "pages", :action => "show", :id => @page.id}, :class => 'clean-gray' %>
