<p id="notice"><%= notice %></p>

<h1>States from <%= @page.name %></h1>
  
<% @states.each do |state| %>

<div id="content">
  <div style="float:right; margin-top:15px;"><%= button_to 'View state',  {:controller => "states", :action => "show", :id => state.id}, :class => 'clean-gray' %></div>
<p>
  <b>User:</b>
  <%= state.name %>
</p>
<p>
  <b>Date:</b>
  <%= state.updated_at %>
</p>

</div>
<% end %>

<%= button_to 'Back',  {:controller => "pages", :action => "show", :id => @page_id}, :class => 'clean-gray' %>
