<p id="notice"><%= notice %></p>


<% @comments.each do |comment| %>

<p>
  <b>User:</b>
  <%= comment['user_id'] %>
</p>

<p>
  <b>Body:</b>
  <%= comment['body'] %>
</p>


<% end %>

<%= link_to 'New comment', :controller => "comments", :action => "new", :id => @page_id  %> |
<%= link_to 'Back', pages_path %>