<p id="notice"><%= notice %></p>


<% @comments.each do |comment| %>

<div id="content">
<p>
  <b>User:</b>
  <%= comment['name'] %>
</p>

<p>
  <b>Body:</b>
  <%= comment['body'] %>
</p>
</div>


<% end %>

<%= button_to 'New comment', {:controller => "comments", :action => "new", :id => @page_id}, :class => 'clean-gray' %> 
<%= button_to 'Back',  {:controller => "pages", :action => "show", :id => @page_id}, :class => 'clean-gray' %>
