<p id="notice"><%= notice %></p>


<% @states.each do |state| %>

<p>
  <b>User:</b>
  <%= state.user %>
</p>

<p>
  <b>Body:</b>
  <%= state.body %>
</p>


<% end %>

<%= link_to 'New state', :controller => "states", :action => "new", :id => @page_id  %> |
<%= link_to 'Back', pages_path %>