<p id="notice"><%= notice %></p>



<%= raw(RedCloth.new(@state.body).to_html) %>

<br/>
<p class="meta"><span class="date"><%= @state.page.name %></span><span class="posted">Last edited by <%= @state.user.name %> at <%= @state.updated_at %></span></p>	
<br/>



<%= link_to 'Show comments', :controller => "pages", :action => "get_related_comments", :id => @page.id %> |
<%= link_to 'Show states', :controller => "pages", :action => "get_related_states", :id => @page.id %> |
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
