<p id="notice"><%= notice %></p>


<% if @state.nil? %>
<p>
  <b>Esta página ainda não foi criada. Seja o primeiro a criá-la!</b>
</p>
<% else %>
<%= raw(RedClothCustom.new(@state.body)) %>

<br/>
<p class="meta"><span class="date"><%= @state.page.name %></span><span class="posted">Last edited by <%= @state.user.name %> at <%= @state.updated_at %></span></p>	
<br/>
<% end %>

<%= button_to 'Show comments', {:controller => "pages", :action => "get_related_comments", :id => @page.id}, :class => 'clean-gray' %>
<%= button_to 'Show states', {:controller => "pages", :action => "get_related_states", :id => @page.id}, :class => 'clean-gray' %>
<%= button_to 'Edit', {:controller => "states", :action => "new", :id => @page.id}, :class => 'clean-gray'  %>
<%= button_to 'Back',  {:controller => "projects", :action => "get_related_pages", :id => @page.project_id}, :class => 'clean-gray' %>
