<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Índice de Páginas</th>
    <th></th>
  </tr>
  
<% @pages.each do |page| %>
  <tr>
    <td class="first_bigger"><%= page.name %></td>
    <td>  <%= link_to 'Show', :controller => "pages", :action => "show", :id => page.id %></td>
  </tr>
<% end %>
</table>
<br/>
<%= button_to 'New Page', {:controller => "pages", :action => "new", :id => @project_id}, :class=> 'clean-gray'  %>
<%= button_to 'Back', pages_path, :class=> 'clean-gray' %>

